@plugin "daisyui" {
  themes: brand --default;
  logs: false;
  prefix: "d-";
}

@plugin "daisyui/theme" {
  name: "brand";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: var(--plt-color-base-100);
  --color-base-200: var(--plt-color-base-200);
  --color-base-300: var(--plt-color-base-300);
  --color-base-content: var(--plt-color-base-content);
  --color-primary: var(--plt-color-primary);
  --color-primary-content: var(--plt-color-primary-content);
  --color-secondary: var(--plt-color-secondary);
  --color-secondary-content: var(--plt-color-secondary-content);
  --color-accent: var(--plt-color-accent);
  --color-accent-content: var(--plt-color-accent-content);
  --color-neutral: var(--plt-color-neutral);
  --color-neutral-content: var(--plt-color-neutral-content);
  --color-info: var(--plt-color-info);
  --color-info-content: var(--plt-color-info-content);
  --color-success: var(--plt-color-success);
  --color-success-content: var(--plt-color-success-content);
  --color-warning: var(--plt-color-warning);
  --color-warning-content: var(--plt-color-warning-content);
  --color-error: var(--plt-color-error);
  --color-error-content: var(--plt-color-error-content);

  --radius-selector: var(--plt-radius-selector);
  --radius-field: var(--plt-radius-field);
  --radius-box: var(--plt-radius-box);
  --border: var(--plt-border-width);
  --depth: 1;
  --noise: 1;
}
